# This list auto requests reviews from the specified org members
# when a PR that modifies the file in question is opened
# This list is alphabetized by User -> Filename and separated into sections for Maintainers KEEP IT THAT WAY
# In the event that people are to be informed of changes
# to the same file or dir, add them to the end of under Multiple Owners

# Fira

/.dockerignore @Fira
/code/controllers/subsystem/sound.dm @Fira
/code/controllers/subsystem/influxdriver.dm @Fira
/code/controllers/subsystem/influxmcstats.dm @Fira
/code/controllers/subsystem/influxstats.dm @Fira
/code/controllers/subsystem/mapgrids.dm @Fira
/code/controllers/subsystem/nightmare.dm @Fira
/code/controllers/subsystem/opensearch.dm @Fira
/code/datums/components/mapcoords.dm @Fira
/code/datums/mapgrid.dm @Fira
/code/datums/mapgrid_manager.dm @Fira
/code/datums/opensearch/ @Fira
/code/datums/soundOutput.dm @Fira
/code/game/sound.dm @Fira
/code/modules/nightmare/ @Fira
/code/modules/tents/ @Fira
/maps/Nightmare/ @Fira
/tools/docker/ @Fira
/Dockerfile @Fira

# Forest2001

/code/game/machinery/ARES @realforest2001
/tgui/packages/tgui/interfaces/AresAdmin.jsx @realforest2001
/tgui/packages/tgui/interfaces/AresInterface.jsx @realforest2001
/tgui/packages/tgui/interfaces/WorkingJoe.jsx @realforest2001

# Nanu

/maps @Nanu308

# MULTIPLE OWNERS
