# dmm map merger hook
# needs additional setup, see tools/mapmerge/install.txt
*.dmm merge=merge-dmm

# dmi icon merger hook
# needs additional setup, see tools/dmitool/merging.txt
*.dmi merge=merge-dmi

# force changelog merging to use union
html/changelog.html merge=union

# Declare files that will always have LF line endings on checkout.
*.dm text eol=lf
*.dmm text eol=lf
*.dme text eol=lf
