<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <base href="../../" />
    <link rel="stylesheet" href="dmdoc.css" />
    <title>&#x2F;datum&#x2F;component&#x2F;disk_reader - byond</title>
</head>
<body>
<header>
    <a href="index.html">byond</a> -
    <a href="index.html#modules">Modules</a> -
    <a href="index.html#types">Types</a>
 &mdash; <a href="datum/component/disk_reader.html#var">Var Details</a></header>
<main>
<h1>/<a href="datum.html">datum</a>/<a href="datum/component.html">component</a>/<a href="datum/component/disk_reader.html">disk_reader</a>
        
    
            <a href="https://github.com/cmss13-devs/cmss13/blob/e84fbaa67a4e0c11b655dab64bedf3759a315f38/code/datums/components/disk_reader.dm#L1">
        <img src="git.png" width="16" height="16" title="code&#x2F;datums&#x2F;components&#x2F;disk_reader.dm 1"/></a></h1>

<table class="summary" cellspacing="0"><tr><td colspan="2"><h2>Vars</h2></td></tr>
            <tr><th><a href="datum/component/disk_reader.html#var/disk">disk</a></th><td>Ref to the inserted disk</td></tr></table>
    <h2 id="var">Var Details</h2><h3 id="var/disk"><aside class="declaration">var </aside>disk
            <aside>&ndash; /<a href="obj.html">obj</a>/<a href="obj/item.html">item</a>/disk/objective</aside>
        
    
            <a href="https://github.com/cmss13-devs/cmss13/blob/e84fbaa67a4e0c11b655dab64bedf3759a315f38/code/datums/components/disk_reader.dm#L6">
        <img src="git.png" width="16" height="16" title="code&#x2F;datums&#x2F;components&#x2F;disk_reader.dm 6"/></a></h3>
        <p>Ref to the inserted disk</p></main>
<footer>
    colonialmarines.dme
    <a href="https://github.com/cmss13-devs/cmss13/tree/e84fbaa67a4e0c11b655dab64bedf3759a315f38">e84fbaa</a>
        (master) &mdash; <a href="https://github.com/SpaceManiac/SpacemanDMM/blob/master/crates/dmdoc/README.md">dmdoc 1.8.0</a></footer>
</body>
</html>
