@use 'sass:map';

$background: hsl(0, 0%, 7.5%);
$button: hsl(0, 0%, 12.2%);
$lightMode: hsl(0, 0%, 100%);
$lightBorder: hsl(0, 0%, 73.3%);
$lightHover: hsl(0, 0%, 91.8%);
$scrollbar-color-multiplier: 1 !default;

////////////////////////////////////////////////
// Normal chat colors
$say: hsl(214, 38%, 74%);
$comms: hsl(0, 0%, 71%);
$me: hsl(227, 64%, 60%);
$ooc: hsl(225, 92%, 54%);
$looc: hsl(322, 70%, 64%);
$mentor: hsl(43, 87%, 38%);
$asay: hsl(30, 62%, 28%);

////////////////////////////////////////////////
// Subchannel chat colors
$highcom: hsl(170, 47%, 36%);
$command: hsl(210, 38%, 61%);
$engi: hsl(36, 100%, 33%);
$hive: hsl(300, 18%, 44%);
$medsci: hsl(165, 100%, 25%);
$security: hsl(0, 60%, 40%);
$req: hsl(38, 48%, 49%);
$alpha: hsl(0, 72%, 50%);
$bravo: hsl(39, 85%, 42%);
$charlie: hsl(300, 33%, 50%);
$delta: hsl(203, 100%, 41%);
$echo: hsl(158, 49%, 47%);
$foxtrot: hsl(22, 41%, 48%);
$jtac: hsl(311, 49%, 45%);
$wy: hsl(33, 99%, 57%);
$cct: hsl(184, 57%, 55%);
$intel: hsl(120, 97%, 25%);
$pmc: hsl(184, 57%, 55%);
$clf: hsl(249, 40%, 65%);
$upp: hsl(359, 32%, 43%);
$colony: hsl(300, 50%, 40%);

$_channel_map: (
  'say': $say,
  'comms': $comms,
  'me': $me,
  'ooc': $ooc,
  'looc': $looc,
  'whisper': $say,
  'mentor': $mentor,
  'asay': $asay,
  'department': $comms,
  'highcom': $highcom,
  'command': $command,
  'engi': $engi,
  'hive': $hive,
  'medsci': $medsci,
  'security': $security,
  'req': $req,
  'alpha': $alpha,
  'bravo': $bravo,
  'charlie': $charlie,
  'delta': $delta,
  'echo': $echo,
  'foxtrot': $foxtrot,
  'jtac': $jtac,
  'wy': $wy,
  'cct': $cct,
  'intel': $intel,
  'sof': $highcom,
  'ship': $comms,
  'colony': $colony,
  'upp-med': $upp,
  'upp-engi': $upp,
  'upp-cmd': $upp,
  'upp-kdo': $upp,
  'upp': $upp,
  'clf-med': $clf,
  'clf-engi': $clf,
  'clf-cmd': $clf,
  'clf-cct': $clf,
  'clf': $clf,
  'pmc-med': $pmc,
  'pmc-engi': $pmc,
  'pmc-cct': $pmc,
  'pmc-cmd': $pmc,
  'specops': $pmc,
  'pmc': $pmc,
);

$channel_keys: map.keys($_channel_map) !default;

$channel-map: ();

@each $channel in $channel_keys {
  $channel-map: map.merge(
    $channel-map,
    (
      $channel: map.get($_channel_map, $channel),
    )
  );
}
