@use 'sass:color';
@use './colors.scss';

$dragSize: 5px;
$borderSize: 2px;

.dragzone-horizontal {
  border-left: $borderSize solid;
  border-right: $borderSize solid;
  color: transparent;
  height: $dragSize;
  width: 100%;
}

.dragzone-left {
  border-left: $borderSize solid;
  left: 0;
}

.dragzone-right {
  border-right: $borderSize solid;
  right: 0;
}

.dragzone-vertical {
  color: transparent;
  height: 100%;
  position: absolute;
  top: 0;
  width: $dragSize;
}

.dragzone-top {
  border-top: $borderSize solid;
}

.dragzone-bottom {
  border-bottom: $borderSize solid;
}

/** Lightmode static theme */
.dragzone-lightMode {
  border-color: colors.$lightBorder;
}
