@use 'sass:color';
@use './colors.scss';

@keyframes shine {
  from {
    background-position-x: -220px;
  }

  to {
    background-position-x: 255px;
  }
}

.window {
  --font-size: 15px;
  --font-family: 'Consolas', monospace;
  --channel-color: gray;
  --background-color: oklch(from var(--channel-color) 0.125 calc(c / 2) h);
  --color: var(--channel-color);

  position: absolute;
  inset: 0;
  caret-color: var(--color);
  background: linear-gradient(
    130deg,
    var(--color) 15%,
    oklch(from var(--color) calc(l * 1.3) calc(c - 0.05) h) 20%,
    var(--color) 25%
  );
  background-size: 250%;
  animation: shine 10s infinite ease-in-out;

  &-light {
    --background-color: oklch(from var(--channel-color) 1 0.025 h);
    --color: oklch(from var(--channel-color) 0.45 0.15 h);
  }

  &::selection {
    background-color: var(--color);
    color: var(--background-color);
  }
}

.content {
  --border-size: 2px;
  position: absolute;
  inset: var(--border-size);
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 0.1rem;
  padding: var(--border-size);
  background-color: var(--background-color);
  z-index: 1;
}

.button {
  --shadow-color: var(--color);
  all: unset;
  cursor: pointer;
  text-align: center;
  font-weight: 600;
  font-size: var(--font-size);
  font-family: var(--font-family);
  padding: 0 0.25rem;
  color: var(--color);
  box-shadow: inset 0 0 2px 1px var(--shadow-color);
  border-radius: 3px;
  width: auto;
  white-space: nowrap;

  &:hover {
    --shadow-color: oklch(from var(--color) calc(l + 0.25) calc(c - 0.033) h);
  }
}

.textarea {
  scrollbar-width: thin;
  scrollbar-gutter: stable;
  scrollbar-color: oklch(from var(--color) l c h / 0.5) transparent;
  resize: none;
  width: 100%;
  min-width: 0;
  overflow-y: auto;
  padding: 2px 4px 2px 6px;
  margin-left: 0;
  font-size: var(--font-size);
  background-color: transparent;
  color: var(--color);
  border: none;
  outline: none;
}
