@use './colors.scss';

.textarea {
  background: transparent;
  border: none;
  color: colors.$background;
  display: flex;
  flex-grow: 1;
  font-family: 'Lucida Sans Unicode', monospace;
  font-size: 1.1rem;
  overflow: hidden;
  margin: 0.1rem 0 0 0.4rem;
  line-height: 1.15rem;
}

.textarea-lightMode {
  color: black;
}
