@use 'sass:color';
@use './colors.scss';

.window {
  background-color: colors.$background;
  display: flex;
  flex-direction: column;
  max-width: 380px;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.window-lightMode {
  background-color: colors.$lightMode;
}

.window__content {
  display: flex;
  flex-direction: row;
  height: 100%;
  padding: 1px 0 1px 5px;
}

/** Window sizes */
.window-30 {
  height: 30px;
}

.window-45 {
  height: 45px;
}

.window-60 {
  height: 60px;
}
