.Dpad {
  background-color: hsl(0, 0%, 7%);
  border-radius: 40px;
  border: 2px solid hsl(0, 0%, 31%);
  .Dpadwrapper {
    padding-left: 4px;
    padding-top: 4px;
  }
  .container {
    width: 30px;
    height: 30px;
  }
  .Button {
    width: 25px;
    height: 25px;
    line-height: 20px;
    font-family: monospace;
    font-size: large;
    background-color: hsl(0, 0%, 38%);
    border: 2px solid hsl(0, 0%, 50%);
  }

  .TopButton {
    color: hsl(0, 100%, 50%);
  }
}
