.ElectricalAccessPanel {
  border-bottom: 2px solid hsl(0, 0%, 38%);
  border-left: 2px solid hsl(0, 0%, 38%);
  border-right: 2px solid grey;
  border-top: 2px solid grey;
  display: relative;
  width: 100%;

  .PanelClosed {
    height: 100%;
    margin-bottom: -2px;
  }
  .PanelOpen {
    padding: 6px;
  }
  .Hide {
    visibility: hidden;
  }
  .ElectricalSafetySign {
    height: 100%;
  }
  span {
    display: flex;
    text-align: center;
  }

  .led {
    margin: 0 auto;
    width: 16px;
    height: 16px;
    border-radius: 50%;
  }
  .led-off {
    background-color: hsl(0, 0%, 38%);
    box-shadow: none;
    animation: none;
  }
  .led-green {
    background-color: hsl(80, 100%, 50%);
    box-shadow:
      hsla(0, 0%, 0%, 0.2) 0 -1px 3px 1px,
      inset hsl(80, 97%, 14%) 0 -1px 6px,
      hsl(88, 100%, 50%) 0 2px 6px;
  }
  .led-red {
    background-color: hsl(0, 100%, 50%);
    box-shadow:
      hsla(0, 0%, 0%, 0.2) 0 -1px 3px 1px,
      inset hsl(0, 56%, 17%) 0 -1px 6px,
      hsla(0, 100%, 50%, 0.5) 0 2px 6px;
    animation: blinkRed 0.5s infinite;
  }
  @keyframes blinkRed {
    from {
      background-color: hsl(0, 100%, 50%);
    }
    50% {
      background-color: hsl(0, 100%, 33%);
      box-shadow:
        hsla(0, 0%, 0%, 0.2) 0 -1px 7px 1px,
        inset hsl(0, 56%, 17%) 0 -1px 9px,
        hsla(0, 100%, 50%, 0.5) 0 2px 0;
    }
    to {
      background-color: hsl(0, 100%, 50%);
    }
  }

  .WarningIcon {
    border: 2px solid hsl(0, 0%, 0%);
    padding: 3px;
    font-weight: bold;
    width: 200px;
    height: 100%;
  }
  .OpenSafetySign {
    border-top: 1px solid hsl(0, 0%, 0%);
    margin-bottom: -6px;
    margin-left: -6px;
    margin-right: -6px;
  }
  .WireLabel {
    overflow: auto;
    word-wrap: break-word;
    width: 100px;
  }
  .WirePanel {
    display: inline-table;
    margin-bottom: 6px;
    span {
      border: 2px solid hsl(0, 0%, 0%);
    }
  }
  .WireControl {
    height: 50px;
  }
  .WireSketch {
    border: 1px solid hsl(0, 0%, 100%);
    height: 100%;
    width: 2px;
  }
}
