.theme-crtblue {
  .BodyPicker {
    .Stack--horizontal > .colorPickerContainer:first-of-type {
      margin-left: 6px;
    }

    .typePicker {
      border: 1px dotted hsl(208, 100%, 77%);
    }

    .typePicker.active {
      border: 1px solid hsl(208, 100%, 77%);
    }

    .colorPicker.active {
      outline: solid 2px hsl(208, 100%, 77%);
    }
  }
}
