.CasSim {
  .NoticeBox {
    font-size: 15px;
  }

  .NoticeBox--type--info {
    background-color: green;
  }

  .NoticeBox--type--danger {
    background-color: green;
  }
  .Button__content {
    font-size: 16px;
    line-height: 24px;
  }
}
