.CasSim {
  .NoticeBox {
    font-size: 15px;
  }

  .NoticeBox--type--info {
    background-color: hsl(120, 100%, 25%);
  }

  .NoticeBox--type--danger {
    background-color: hsl(120, 100%, 25%);
  }
  .Button__content {
    font-size: 16px;
    line-height: 24px;
  }
}
