@use 'sass:color';
@use 'sass:math';
@use 'sass:meta';

.panel-container {
  $font-family: monospace;
  $background-radial-opacity: 0.2 !default;

  @mixin panel-crt($lightcolor, $dark) {
    color: $lightcolor;

    background-image: none;
    background-color: $dark;
    background: radial-gradient(
      rgba($lightcolor, $background-radial-opacity),
      rgba($lightcolor, math.div($background-radial-opacity, 5))
    );

    @include meta.load-css('../components/Divider.scss');
    @include meta.load-css('../components/Stack.scss');

    .Button {
      font-family: $font-family;
      font-weight: bold;
      border: 1px solid $lightcolor;
      &:hover,
      &:focus,
      &:visited,
      &:target {
        background-color: $lightcolor;
        color: $dark;
      }
    }

    ::after {
      content: ' ';
      background: hsl(0, 6%, 7%);
      opacity: 0;
      z-index: 2;
      pointer-events: none;
    }

    ::before {
      content: ' ';
      background:
        linear-gradient(hsla(0, 6%, 7%, 0) 50%, hsla(0, 0%, 0%, 0.25) 50%),
        linear-gradient(
          90deg,
          hsla(0, 100%, 50%, 0.06),
          hsla(120, 100%, 50%, 0.02),
          hsla(240, 100%, 50%, 0.06)
        );
      z-index: 2;
      background-size:
        100% 2px,
        3px 100%;
      pointer-events: none;
    }
  }

  .panel-crt-green {
    @include panel-crt(hsl(140, 100%, 46%), hsl(60, 100%, 3%));
  }

  .panel-crt-yellow {
    @include panel-crt(hsl(45, 100%, 50%), hsl(60, 100%, 3%));
  }

  .panel-crt-blue {
    @include panel-crt(hsl(208, 100%, 77%), hsl(60, 100%, 3%));
  }
}
