@use '../base.scss';
@import 'SidePanel';

.WeaponsConsole {
  .NavigationMenu {
    height: 512px;
    width: 512px;
    border: 2px solid #00e94e;
    border-style: outset;
    border-radius: 5px;
    overflow: hidden;
    padding: 2px;
  }

  .MapPanel {
    width: 100%;
    height: 100%;
    text-align: center;
  }

  .CameraPanel {
    width: 100%;
    height: 100%;
    text-align: center;
  }

  .WeaponPanel {
    height: 512px;
    width: 512px;
    display: inline-block;

    .PanelTextBox {
      margin: 2px;
    }

    .BaseSidePanel {
      height: 100%;
      width: 150px;
    }

    .WeaponPanelLeft {
      @extend .BaseSidePanel;
      border-right: 2px solid #00e94e;
    }

    .WeaponPanelRight {
      @extend .BaseSidePanel;
      border-left: 2px solid #00e94e;
    }
  }

  .mfd_button {
    background-color: black;
    width: 50px;
    height: 50px;
    font-size: smaller;
    font-family: monospace;
    line-height: 45px;
    border-style: outset;
    border-color: #00e94e;
    padding: 0;
  }

  .ButtonPanel {
    padding: 0px;
    margin: 0px;

    .Flex__item {
      padding: 0px;
      margin: 0px;
      align-content: center;
      text-align: center;
    }
  }

  .VerticalButtonPanel {
    @extend .ButtonPanel;
    height: 100%;

    .Flex__item {
      height: 100px;
      line-height: 100px;
    }
  }

  .HorizontalButtonPanel {
    @extend .ButtonPanel;
    width: 100%;

    .Flex__item {
      width: 100px;
    }
  }

  .WeaponSidePanel {
    @extend .SidePanel;
    width: 250px;
    .Button {
      width: 100%;
    }
  }

  .primarypanel {
    width: fit-content;
    height: 512px;
    width: 512px;
  }

  .Table {
    background-color: black;
  }

  .Table__cell {
    vertical-align: middle;
    padding: 2px;
    margin: 0px;
  }
}

.Test {
  border: 1px solid red;
}
