.LobbyScreen {
  box-shadow: 0 0 15px;
  font-size: large;
  font-family: monospace;
  font-weight: 700;

  .typeEffect {
    overflow: hidden;
    white-space: nowrap;
    width: 0;
    animation: typing 1s steps(20, end) forwards;
    animation-delay: 1.3s;
  }

  .buttonEffect {
    overflow: hidden;
    white-space: nowrap;
    width: 0;
    animation: typing 1s steps(20, end) forwards;
  }

  .loadEffect {
    height: 0;
    animation: loading 1s steps(20, end) forwards;
    animation-delay: 1.3s;
  }

  .sectionLoad {
    animation: section-loading 1s forwards;
  }

  .dividerEffect {
    animation: typing 1s steps(20, end) forwards;
    width: 0;
  }

  .bgLoad {
    opacity: 0;
    animation: bg-load 10s forwards;
    animation-delay: 5s;
  }

  .bgBackground {
    background-position: center;
    background-size: cover;
    position: absolute;
  }

  .authorAttrib {
    position: absolute;
    bottom: 0px;
    right: 0px;
    padding: 5px;
  }

  @keyframes bg-load {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  @keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }

  @keyframes loading {
    from {
      height: 0;
    }
    to {
      height: 100%;
    }
  }

  @keyframes section-loading {
    from {
      transform: scaleY(0);
    }
    to {
      transform: scaleY(1);
    }
  }

  .crt {
    &::before {
      content: ' ';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      background: linear-gradient(
          rgba(18, 16, 16, 0) 50%,
          rgba(0, 0, 0, 0.25) 50%
        ),
        linear-gradient(
          90deg,
          rgba(255, 0, 0, 0.06),
          rgba(0, 255, 0, 0.02),
          rgba(0, 0, 255, 0.06)
        );
      z-index: 2;
      background-size:
        100% 8px,
        6px 100%;
      pointer-events: none;
    }

    &::after {
      content: ' ';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      background: rgba(18, 16, 16, 0.1);
      opacity: 0;
      z-index: 2;
      pointer-events: none;
    }

    box-shadow: 0 0 500px 25px rgba(0, 0, 0, 0.9) inset;
  }
}

.noAnimation {
  animation-delay: 0s !important;
}
