@use '../base.scss';

.NavigationMenu {
  span {
    font-size: 2rem;
  }

  .flybyControl {
    .Section__title {
      border-bottom: none;
    }
    .Section__content {
      padding: 0;
      visibility: hidden;
    }
  }

  .Button {
    font-size: 2rem;
  }
  .Section {
    font-size: 2rem;
    .Section__buttons {
      .Button {
        font-size: 1.5rem;
      }
    }
  }
  .DestinationSelector {
    .Stack__item {
      margin-bottom: -0.4em;
    }
    .Button {
      border-radius: 0;
      width: 100%;
      font-size: 1.5rem;
    }
    .Button__content {
      font-size: 1.5rem;
      font-weight: bold;
    }
  }
  .DoorControlStack {
    .Button {
      font-size: 1.5rem;
    }
  }
  .LaunchCountdown {
    span {
      font-size: 1.5rem;
    }
  }
  .InFlightCountdown {
    span {
      font-size: 1.5rem;
    }
  }

  .DisabledScreen {
    text-align: center;
    height: 100%;
    div {
      border: 2px solid hsl(140, 100%, 46%);
    }
    span {
      font-size: 2rem;
      font-weight: bold;
    }
  }
}
.Test {
  border: 1px solid red;
}
