@use '../base.scss';
@use '../colors.scss';
@use '../functions.scss' as *;

.FireteamBox {
  border: 1px solid base.$color-fg;
  padding: 6px;
  margin-top: 6px;
  width: 30vw;

  .Title {
    position: relative;
    display: inline-block;
    height: 18px;
    left: 50%;
    transform: translateX(-50%);
    top: -16px;
    background-color: base.$color-bg;
    border: 1px solid base.$color-fg;
    padding-left: 4px;
    padding-right: 4px;
    font-weight: bold;
  }
}

.Test {
  border: 5px solid red;
}

.MarineIcon {
  width: 32px;
}

.FireteamMembersTable {
  td {
    border: 1px solid base.$color-fg;
    font-weight: bold;
    padding: 1px;
    text-align: center;
    vertical-align: middle;
  }
}

/*
.SLIcon {
  width: 16px;
  height: 16px;
  background-image: url(squadSLIcon.png);
}

.MedIcon {
  width: 16px;
  height: 16px;
  background-image: url(squadMedIcon.png);
}

.EngIcon {
  width: 16px;
  height: 16px;
  background-image: url(squadEngIcon.png);
}

.SGIcon {
  width: 16px;
  height: 16px;
  background-image: url(squadSGIcon.png);
}

.SpcIcon {
  width: 16px;
  height: 16px;
  background-image: url(squadSpcIcon.png);
}

.RTOIcon {
  width: 16px;
  height: 16px;
  background-image: url(squadRTOIcon.png);
}

.FRespIcon {
  width: 16px;
  height: 16px;
  background-image: url(squadFRespIcon.png);
}

.TechIcon {
  width: 16px;
  height: 16px;
  background-image: url(squadTechIcon.png);
}
*/
