@use '../base.scss';
@use '../colors.scss';
@use '../functions.scss' as *;

.FireteamBox {
  border: 1px solid base.$color-fg;
  padding: 6px;
  margin-top: 6px;
}

.ftlFlex {
  width: 95vw;
  border: 2px solid green;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  list-style: none;
  height: 600px;
  overflow-y: scroll;
  align-content: flex-start;
  padding-top: 8px;

  .FireteamBox {
    text-align: center;
    margin: 0 1rem 1rem 0;
    padding: 8px;
    border: 2px solid red;
    min-width: 290px;
  }
}

.Title {
  position: relative;
  display: inline-block;
  height: 18px;
  top: -16px;
  background-color: base.$color-bg;
  border: 1px solid base.$color-fg;
  padding-left: 4px;
  padding-right: 4px;
  font-weight: bold;
}

.MarineIcon {
  width: 16px;
}

.TeamLeadName {
  font-weight: bold;
  font-size: 12px;
}

.FireteamMembersTable {
  td {
    border: 1px solid base.$color-fg;
    font-weight: bold;
    padding: 2px;
    text-align: center;
    vertical-align: middle;
  }
}

.emptyFireteamBox {
  height: 0px;
}
