@use '../base.scss';
@use '../colors.scss';
@use '../functions.scss' as *;
/*
.SLIcon {
  width: 16px;
  height: 16px;
  background-image: url(squadSLIcon.png);
}

.MedIcon {
  width: 16px;
  height: 16px;
  background-image: url(squadMedIcon.png);
}

.EngIcon {
  width: 16px;
  height: 16px;
  background-image: url(squadEngIcon.png);
}

.SGIcon {
  width: 16px;
  height: 16px;
  background-image: url(squadSGIcon.png);
}

.SpcIcon {
  width: 16px;
  height: 16px;
  background-image: url(squadSpcIcon.png);
}

.RTOIcon {
  width: 16px;
  height: 16px;
  background-image: url(squadRTOIcon.png);
}

.FRespIcon {
  width: 16px;
  height: 16px;
  background-image: url(squadFRespIcon.png);
}

.TechIcon {
  width: 16px;
  height: 16px;
  background-image: url(squadTechIcon.png);
}
*/
