@use '../base.scss';

$background-color: hsla(0, 0%, 0%, 0.33) !default;

.StripMenu__cornertext_left {
  position: absolute;
  top: -2px;
  left: 3px;
  text-align: left;
  text-shadow: 1px 1px 1px hsl(0, 0%, 33%);
}

.StripMenu__cornertext_right {
  position: absolute;
  top: -2px;
  right: 4px;
  text-align: absolute;
  text-shadow: 1px 1px 1px hsl(0, 0%, 33%);
}

.StripMenu__iconbox {
  height: 100%;
  width: 100%;
  image-rendering: pixelated;
  vertical-align: middle;
}

.StripMenu__obscured {
  text-align: center;
  height: 100%;
  width: 100%;
}

.StripMenu__itembox {
  position: relative;
  width: 100%;
  height: 100%;
}

.StripMenu__contentbox {
  position: relative;
}

.StripMenu__itembutton {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0;
}

.StripMenu__itemslot {
  position: absolute;
  width: 32px;
  height: 32px;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%) scale(0.8);
  opacity: 0.7;
}

.StripMenu__alternativeaction {
  background: hsla(0, 0%, 0%, 0.6);
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 2;
}
