@use '../base.scss';

.TacticalMap {
  position: absolute;
  top: base.em(1px);
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0.5em;
  text-align: center;
}

.progress-stack {
  margin-top: 15px;
}

.TacticalMapColorPicker {
  height: 21px;
  width: 13rem;
  span {
    color: white !important;
  }
}
