@use '../base.scss';

.TacticalMap {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0;
  text-align: center;
}

.progress-stack {
  margin-top: 15px;
}

.TacticalMapColorPicker {
  height: 21px;
  width: 13rem;
  span {
    color: white !important;
  }
}

.TacticalMapDrawn {
  img {
    z-index: 0;
    position: absolute;
    margin: auto;
    width: fit-content;
    left: 0;
    right: 0;
  }
  svg {
    z-index: 1;
    position: absolute;
    margin: auto;
    width: fit-content;
    left: 0;
    right: 0;
  }
}
