@use '../base.scss';
@use '../colors.scss';
@use '../functions.scss' as *;

$title-text-color: base.$color-fg !default;

.VendingSorted__HideDesc {
  pointer-events: none;
}

.VendingSorted__ShowDesc {
  pointer-events: all;
}

.VendingSorted__SearchBox {
  position: fixed;
  width: calc(100% - 25px);
  margin: 0px;
  z-index: 1;
  background-color: base.$color-bg;
  top: 31px;
}

.VendingSorted__ItemContainer {
  margin-top: 30px;
  position: absolute;
  width: 100%;
  padding-right: 10px;
}

.VendingSorted__CategorySection {
  width: 100%;
}

.VendingSorted__Category {
  width: 100%;
}

.VendingSorted__Input {
  border: 1px solid white;
  color: white;
}

.VendingSorted__Button {
  text-align: center;
}

.VendingSorted__VendButton {
  width: 25px;
  height: 18px;
  line-height: 18px;
}

.VendingSorted__RecommendedVendButton {
  background-color: #3a9b52;
}

.VendingSorted__MandatoryVendButton {
  color: rgb(128, 83, 0);
}

.VendingSorted__Icon {
  min-width: 32px;
  max-width: 32px;
}

.VendingSorted__Text {
  font-size: 14px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  width: inherit;
}

.VendingSorted__Failure {
  color: red;
}

.VendingSorted__RegularItemText {
  color: white;
}

.VendingSorted__MandatoryItemText {
  color: orange;
}

.VendingSorted__RecommendedItemText {
  color: #56e97b;
}

.VendingSorted__Spacer {
  width: 15px;
}

.VendingSorted__ItemFlex {
  margin-top: 5px;
}

.VendingSorted__ItemBox {
  height: 18px;
}

.VendingSorted__ItemSeparator {
  height: 1px;
  border: none;
  background-color: base.$color-bg;
  position: absolute;
  width: 100%;
  margin-top: -0px;
}

.VendingSorted__Tooltip {
  background-color: red;
}

.VendingSorted__Description {
  margin-left: -5px;
  margin-right: -5px;
  margin-top: -1px;
  margin-bottom: -1px;
}
