<style type="text/css">
	.material {
		text-align: center;
	}
  ol.queue {
    height: 100%;
  }
  li.queue {
    text-align: left;
    height: 25px;
  }
  li.queue > div {
    display: inline;
    overflow: hidden;
  }
  ul.printableEntry {
    height: 100%;
    column-width: 250px;
    column-count: 3;
  }
  li.printableEntry {
    margin-top: 5px;
    margin-bottom: 5px;
    width: 100%;
    display: inline-block;
    border-bottom: 1px solid;
  }
  li.printableEntry:last-child {
    border-bottom: none;
  }
  .printableEntryName {
    width: 70%;
    overflow: hidden;
    float: left;
  }
  .printableEntryName > div {
    width: 100%;
    display: inline-block;
  }
  .printableEntryMaterials {
    width: 30%;
    overflow: auto;
    float: right;
    text-align: right;
  }
  .printableEntryMaterials > p {
    display: block;
    margin-top: 0;
    margin-bottom: 0;
  }
  .centerAlign {
    margin: auto;
  }
  .link#forbiddenItem {
    background: #8a4040;
  }
  .link#forbiddenItem:hover {
    background: #ac5050;
  }
</style>

<table style="width:100%" cellpadding="2px">
  <tr>
    {{props data.materials :amount:material}}
      <td class="material">
        <b>{{:material}}</b><br>
        {{:amount}}/{{:data.capacity[material]}}
      </td>
    {{/props}}
  </tr>
</table>

<hr>

<h3>Queue</h3>
<ol class="queue">
  {{for data.queued :item:key}}
    <li class="queue">
      {{if item.multiplier > 1}}
        <div>
          {{:helper.link(item.name + ' (' + item.multiplier + ')', 'close', { 'cancel' : 1, 'index' : item.index, 'name' : item.name, 'multiplier' : item.multiplier })}}
        </div>
      {{else}}
        {{:helper.link(item.name, 'close', { 'cancel' : 1, 'index' : item.index, 'name' : item.name, 'multiplier' : item.multiplier })}}
      {{/if}}
    </li>
  {{empty}}
    <li style="list-style-type: none;">There is nothing queued.</li>
  {{/for}}
</ol>

<hr>

<center>
  <h3>Printable Designs</h3>
  <div class="centerAlign">
    <table><tr>
      <td>
        Category:
      </td>
      <td>
        {{:helper.link(data.category, null, { 'change_category' : 1 })}}
      </td>
    </tr></table>
  </div>
</center>
<br>
<ul class="printableEntry">
  {{for data.printable :entry}}
    <li class="printableEntry">
      <div class="printableEntryName">
        <div>
          {{:helper.link(entry.name, null, { 'make' : entry.index, 'multiplier' : 1 }, entry.can_make ? null : 'disabled', null, entry.hidden ? 'forbiddenItem' : null)}}
        </div>
        {{if entry.has_multipliers}}
          <div style="width: 100%;">
            {{props entry.multipliers :mult:key}}
              <div style="display: inline-block;">
                {{:helper.link('x' + mult, null, { 'make' : entry.index, 'multiplier' : mult }, null, null, entry.hidden ? 'forbiddenItem' : null)}}
              </div>
            {{/props}}
          </div>
        {{/if}}
      </div>
      
      <div class="printableEntryMaterials">
        {{props entry.materials :material:key}}
          <p>{{:material}}</p>
        {{/props}}
      </div>
    </li>
  {{/for}}
</ul>

{{if data.panel_open}}
  <hr>
	<div class='item'><h2>Access Panel</h2></div>

	<div class="item">
		{{for data.wires}}
			<div class="itemContentWide">
				<span class="itemLabelNoWidth"><b>{{:value.desc}} wire:</b></span>
				<span style="float:right;">
					{{if value.cut}}
						{{:helper.link('Mend', 'plus', {'cutwire' : index+1})}}
					{{else}}
						{{:helper.link('Cut', 'minus', {'cutwire' : index+1})}}
						{{:helper.link('Pulse', 'signal-diag', {'pulsewire' : index+1})}}
					{{/if}}
				</span>
			</div>
		{{/for}}
	</div>
{{/if}}