<style type="text/css">
	.underlineCell {
		border-bottom: 1px solid #fff;
	}

	.whiteTitle {
		color: white;
	}

	.whiteDescription {
		color: white;
		font-weight: bold;
		font-family: inherit;

		width: 100%;
		word-wrap: break-word;
	}

	.noMargin {
		margin: 0;
	}

	.noPadCell {
		padding: 2px;
	}

	td, th {
		padding: 10px 10px 10px 10px;
		border-bottom: 1px solid #252933;
	}

	h3 {
		margin: 0;
		padding: 0;
	}

	h1 {
		margin: 0;
		padding: 0;
	}

	#filter {
		background-color: #684675;
		color: #ccab7f;;
		border: 1px solid #161616;
	}

	#clan_list {
		border-collapse: collapse; 
		width: 100%;
	}
</style>
<script type="text/javascript">
	function updateSearch() {
		var filter_text = document.getElementById("filter");
		var filter = filter_text.value.toLowerCase();

		var clan_list = document.getElementById("clan_list");
		var ltr = clan_list.getElementsByTagName("tr");

		for (var i = 0; i < ltr.length; ++i) {
			try {
				var tr = ltr[i];
				tr.style.display = '';
				var td = tr.getElementsByTagName("td")[1];
				if (td.innerText.toLowerCase().indexOf(filter) == -1) {
					tr.style.display = 'none';
				}
			} catch(err) {}
		}
	}
</script>

{{:helper.predMode()}}
<center>
	<h1 class="whiteTitle">{{:data.clan_name}}</h1>
	<pre class="whiteDescription">{{:data.clan_description}}</pre>

	{{if data.clan_honor != null}}
		<h3 class="whiteTitle">Honor: {{:data.clan_honor}}</h3>
	{{/if}}
	<table>
		<tr>
			{{if data.player_rename_clan}}
				<td><div unselectable="on">{{:helper.link('Rename Clan', '', { 'clan_href' : data.clan_id, 'clan_action': 'rename' })}}</div></td>
			{{/if}}
			{{if data.player_setdesc_clan}}
				<td><div unselectable="on">{{:helper.link('Set Description', '', { 'clan_href' : data.clan_id, 'clan_action': 'setdesc' })}}</div></td>
			{{/if}}
			{{if data.player_sethonor_clan}}
				<td><div unselectable="on">{{:helper.link('Set Honor', '', { 'clan_href' : data.clan_id, 'clan_action': 'sethonor' })}}</div></td>
			{{/if}}
			{{if data.player_delete_clan}}
				<td><div unselectable="on">{{:helper.link('Delete Clan', '', { 'clan_href' : data.clan_id, 'clan_action': 'delete' })}}</div></td>
			{{/if}}
		</tr>
	</table>
</center>

<hr>

<div style="text-align: center;">
	<input type="text" id="filter" value="" onkeyup="updateSearch();" style="width:100%;">
</div>

<table id="clan_list">
	<tr style="text-align: left;">
		<th class="noPadCell"></th>
		<th>Name</th>
		<th>Rank</th>
		<th>Honor</th>
		{{if data.player_modify_ranks}}
			<th></th>
		{{/if}}
		{{if data.player_move_clans}}
			<th></th>
		{{/if}}
		{{if data.player_purge}}
			<th></th>
		{{/if}}
	</tr>

	{{props data.clan_keys :keys:index}}
		<tr style="text-align: center;">
			<td class="noPadCell"></td>
			<td id="clan_name">{{:keys.name}}</td>
			<td>{{:keys.rank}}</td>
			<td>{{:keys.honor}}</td>
			{{if data.player_rank_pos > keys.rank_pos}}
				{{if data.player_modify_ranks}}
					<td><div unselectable="on">{{:helper.link('Set Rank', '', { 'clan_target_href' : keys.player_id, 'clan_action': 'modifyrank' })}}</div></td>
				{{/if}}
				{{if data.player_move_clans}}
					<td><div unselectable="on">{{:helper.link('Move Clans', '', { 'clan_target_href' : keys.player_id, 'clan_action': 'moveclan' })}}</div></td>
				{{/if}}
				{{if data.player_purge}}
					<td><div unselectable="on">{{:helper.link('Purge', '', { 'clan_target_href' : keys.player_id, 'clan_action': 'purge' })}}</div></td>
				{{/if}}
			{{/if}}
		</tr>
	{{/props}}
</table>