
{{if data.screen_mode == 0}}
	<div style="padding-top: 10px">
		<h3>Equipment installed:</h3>
		<div style="padding-top: 2px">
			{{for data.equipment_data}}
				{{if value.is_interactable}}
					<div class="item">
						{{:helper.link(value.name, null, {'equip_interact' : value.eqp_tag}, null , null)}}
					</div>
				{{else}}
					<div class="item">
						{{:value.name}}
					</div>
				{{/if}}
			{{empty}}
				No equipment installed.
			{{/for}}
		</div>
	</div>
	{{if data.has_firemission}}
	<div style="padding-top: 10px">
		<h3>Fire Missions:</h3>
		<div style="padding-top: 2px">
			{{for data.firemission_data}}
				<div class="item" style="display: inline-table">
					<span class="item" style="min-width=150px">
						{{:value.name}}
					</span>
					<span class="item" style="min-width=30px">
						&nbsp;
					</span>
					{{if !value.can_interact}}
						<span class="item bad">
							*!SELECT*
						</span>
					{{/if}}
					{{if !value.can_edit}}
						<span class="item bad">
							*!EDIT*
						</span>
					{{/if}}

					{{if value.can_interact}}
						<span class="item">
							{{if value.selected}}
								{{:helper.link("[UNSELECT]", null, {'mission_tag' : value.mission_tag}, null , null)}}
							{{else}}
								{{:helper.link("[SELECT]", null, {'mission_tag' : value.mission_tag}, null , null)}}
							{{/if}}
						</span>
					{{/if}}

					{{if value.can_edit}}
						<span class="item">
							{{:helper.link("[EDIT]", null, {'mission_tag_edit' : value.mission_tag}, null , null)}}
						</span>
					{{/if}}

					<span class="item">
						{{:helper.link("[DELETE]", null, {'mission_tag_delete' : value.mission_tag}, null , null)}}
					</span>
				</div>

			{{empty}}
				No Fire Missions Detected
			{{/for}}
			<div class="item">
				{{:helper.link("Create New Fire Mission", null, {'create_mission' : 1}, null , null)}}
			</div>

		</div>
	</div>
	<div style="padding-top: 10px">
		<h3>Fire Mission Control:</h3>
			{{if data.can_firemission}}
			<div class="item">
				{{:helper.link("Switch to Fire Mission", null, {'switch_to_firemission' : 1}, null , null)}}
			</div>
			<br/>
			{{else}}
			<div class="item">
				Have to be in Transit, have to select a Fire Mission and Fire Mission has to be without errors.
			</div>
			{{/if}}
	</div>
	<div style="padding-top: 10px">
		<h3>Fire Mission Simulator:</h3>
			{{if data.shuttle_state != "in_transit"}}
				<div class="item">
					{{:helper.link("Switch To Simulation", null, {'switch_to_simulation' : 1}, null , null)}}
				</div>
				<br/>
				{{else}}
					<div class="item">
						Have to be Stationary, have to select a Fire Mission and Fire Mission has to be without errors.
					</div>
			{{/if}}
	</div>
	{{/if}}
{{else data.screen_mode == 1}}
	<h3>Weapon Selected: <span class="white">{{:data.selected_eqp}}</span></h3>
	{{if data.selected_eqp_ammo_name}}
		<div class="item" style="padding-top: 2px">
			<span class="white">Ammo loaded:</span> {{:data.selected_eqp_ammo_name}}
		</div>
		<div class="itemContent">
			{{if data.selected_eqp_ammo_amt > data.selected_eqp_max_ammo_amt*0.5}}
				<span class="white">Ammo count:</span> <span class="good">{{:data.selected_eqp_ammo_amt}} / {{:data.selected_eqp_max_ammo_amt}}</span>
			{{else data.selected_eqp_ammo_amt > 0}}
				<span class="white">Ammo count:</span> <span class="average">{{:data.selected_eqp_ammo_amt}} / {{:data.selected_eqp_max_ammo_amt}}</span>
			{{else}}
				<span class="white">Ammo count:</span> <span class="bad">{{:data.selected_eqp_ammo_amt}} / {{:data.selected_eqp_max_ammo_amt}}</span>
			{{/if}}
		</div>
	{{else}}
		<div class="item" style="padding-top: 2px">
		<span class="bad">No ammo loaded</span>
		</div>
	{{/if}}

	<div style="display: block; font-weight: bold;color: #ee5500;font-size: 13px;clear: both;margin: 0;padding-top: 12px">
		Available Targets
		<div style="display: inline-block; padding-left: 40px;">
			{{:helper.link('Deselect Weapon', null, {'deselect' : '1'}, null , null)}}
		</div>
	</div>

	<div style="display: block; padding-top: 4px">
		{{for data.targets_data}}
			{{:helper.link(value.target_name, null, {'open_fire' : value.target_tag},  (data.shuttle_state == "in_transit") ? null : 'disabled' , 'fixedLeftLongText')}} {{:helper.link('View', 'search', {'cas_camera' : value.target_tag},  (data.shuttle_state == "in_transit") ? null : 'disabled' , 'fixedLeft')}}
		{{empty}}
			No laser target detected.
		{{/for}}
	</div>



{{else data.screen_mode == 2}}
	<h3>Fire Mission Editing: <span class="white">{{:data.editing_firemission}}</span></h3>
	{{if data.current_mission_error}}
		<div class="item">
			ERROR DETECTED: {{:data.current_mission_error}}
		</div>
	{{else}}
		<div class="item">
			No errors detected
		</div>
	{{/if}}

	<div class="item">
		Mission Tile Coverage: {{:data.editing_firemission_length}}
	</div>

	<table align='center' width='100%'>
		<tr>
		<td>Name</td>
		<td>Ammo</td>
		<td>Gimbal</td>
		{{for data.firemission_edit_timeslices}}
			<td style="min-width:30px">
				{{:value}}
			</td>
		{{/for}}
		</tr>
		{{for data.firemission_edit_data :fm_value:fm_id}}
		<tr>
			<td>{{:fm_value.name}}</td>
			<td>
				{{if fm_value.ammo==null}}
					0/0
				{{else}}
					{{if fm_value.ammo.used > fm_value.ammo.count}}
						<span class="bad">{{:fm_value.ammo.count?fm_value.ammo.count:0}}/{{:fm_value.ammo.max?fm_value.ammo.max:0}}</span>
					{{else fm_value.ammo.used * 2 > fm_value.ammo.count}}
						<span class="average">{{:fm_value.ammo.count?fm_value.ammo.count:0}}/{{:fm_value.ammo.max?fm_value.ammo.max:0}}</span>
					{{else}}
						<span class="good">{{:fm_value.ammo.count?fm_value.ammo.count:0}}/{{:fm_value.ammo.max?fm_value.ammo.max:0}}</span>
					{{/if}}
				{{/if}}
			</td>
			<td>
				{{if(fm_value.gimbal)}}
					{{:fm_value.gimbal.min}} to {{:fm_value.gimbal.max}}
				{{else}}
					Not installed
				{{/if}}
			</td>
			{{for fm_value.offsets :offset_value:offset_id}}
			<td>
				{{:helper.link(offset_value == null ? '-' : offset_value, null, {'fm_weapon_id' : fm_id, 'fm_offset_id' : offset_id, 'fm_offset_previous': offset_value}, null , null)}}
			</td>
			{{/for}}
		</tr>
		{{/for}}
	</table>

	<div class="item">
		{{:helper.link("BACK", null, {'leave_firemission_editing' : 1}, null , null)}}
	</div>

{{else data.screen_mode == 3 && data.has_firemission}}
	<h3>Fire Mission Selected: <span class="white">{{:data.firemission_name}}</span></h3>

	<h3>
		Fire Mission Status: <span class="white">{{:data.firemission_message}}</span>
	</h3>

	<div style="padding-top: 10px">
		<h3>Fire Mission Options:</h3>
		<table>
			<tr>
				<td>Target:</td>
				<td class="white">{{:data.firemission_selected_laser}}</td>
			</tr>
			<tr>
				<td>Direction:</td>
				<td>{{:helper.link(data.firemission_direction, null, {'change_direction' : 1},  (data.shuttle_state == "in_transit" && data.firemission_step < 2) ? null : 'disabled' , null)}}</td>
			</tr>
			<tr>
				<td>Offset:</td>
				<td>{{:helper.link(data.firemission_offset, null, {'change_offset' : 1},  (data.shuttle_state == "in_transit" && data.firemission_step < 2) ? null : 'disabled' , null)}}</td>
			</tr>
		</table>
	</div>

	<div style="padding-top: 10px">
		<h3>Fire Mission Actions:</h3>
		<div class="item">
			{{:helper.link('BACK', null, {'leave_firemission_execution' : '1'}, null , 'fixedLeft')}}
			{{:helper.link('Activate Camera', null, {'firemission_camera' : 1},  (data.shuttle_state == "in_transit" && data.firemission_selected_laser) ? null : 'disabled' , 'fixedLeft')}}
			{{:helper.link('Execute Fire Mission', null, {'execute_firemission' : 1},  (data.shuttle_state == "in_transit" && data.firemission_step == 0) ? null : 'disabled' , "linkDanger fixedLeftWide")}}
		</div>
	</div>
	<br/>
	<div style="font-weight: bold;color: #ee5500;font-size: 12px;clear: both;margin: 0;padding-top: 8px">Available Targets:</div>
	<div style="display: block; padding-top: 2px">
		{{for data.targets_data}}
			{{:helper.link(value.target_name, null, {'select_laser_firemission' : value.target_tag},  (data.shuttle_state == "in_transit") ? null : 'disabled' , 'fixedLeftLongText')}}
		{{empty}}
			No CAS signal detected.
		{{/for}}
	</div>

{{/if}}
