<div class="item">
	<div class="itemLabel" style="width: 100%;">
		{{:helper.link('Attack', null, {'command' : '1'}, data.current_log == 1 ? 'selected' : null)}}
		{{:helper.link('Admin Logs', null, {'command' : '2'}, data.current_log == 2 ? 'selected' : null)}}
		{{:helper.link('Staff Chat', null, {'command' : '4'}, data.current_log == 4 ? 'selected' : null)}}
		{{:helper.link('OOC', null, {'command' : '8'}, data.current_log == 8 ? 'selected' : null)}}
		{{:helper.link('Game', null, {'command' : '16'}, data.current_log == 16 ? 'selected' : null)}}
		{{:helper.link('Debug', null, {'command' : '32'}, data.current_log == 32 ? 'selected' : null)}}
		{{:helper.link('Runtime', null, {'command' : '64'}, data.current_log == 64 ? 'selected' : null)}}
		{{:helper.link('TGUI', null, {'command' : '128'}, data.current_log == 128 ? 'selected' : null)}}
	</div>
</div>
 <div class="statusDisplayRecords">
    <div class="item">
        <div class="itemContent" style="width: 100%;">
            <span class="{{:data.colour}}">{{:data.log}}</span>
        </div>
    </div>
</div> 