<h3>{{:data.name}}</h3>
<div class="item" style="padding-top: 10px">
    <div class="item">
        Teleporter Status: 
        {{if data.can_fire}}
            <span style="font-weight: bold;color: #339933">{{:data.teleporter_status}}</span>
        {{else}}
            <span style="font-weight: bold;color: #FF3333">{{:data.teleporter_status}}</span>
        {{/if}}
    </div>
</div>

<div class="item" style="padding-top: 10px">
    <div class="item">
        <div class="itemLabel">
            Recharge Status:
        </div>
        <div class="itemContent">
            {{if data.can_fire}}
                <span style="font-weight: bold;color: #339933">Fully charged</span>
            {{else}}
                <span style="font-weight: bold;color: #FF3333">Currently recharging</span>
            {{/if}}
            <div class="line">
                {{if data.can_fire}}
                    <div class="line">
                        The Teleporter is ready to use.
                    </div>
                {{else}}
                    <div class="line">
                        The Teleporter will be recharged in {{:data.time_to_ready}} seconds.
                    </div>
                {{/if}}
            </div>
        </div>
    </div>
</div>

<div class="item" style="padding-top: 10px">
    <div class="item" width="200" style="border:1px solid padding:10px">
        Currently selected source location: 
        {{if data.selected_source}}
            <span style="font-weight: bold;color: #339933">{{:data.selected_source}}</span>
        {{else}}
            <span style="font-weight: bold;color: #FF3333">NONE</span>
        {{/if}}
        <br>
        <div class="itemContent">
            {{:helper.link("Select Source location", null, {'select_source':'a'}, null, null)}}
        </div>
    </div>
    <div class="item" width="200" style="border:1px solid padding:10px">
        Currently selected destination location: 
        {{if data.selected_destination}}
            <span style="font-weight: bold;color: #339933">{{:data.selected_destination}}</span>
        {{else}}
            <span style="font-weight: bold;color: #FF3333">NONE</span>
        {{/if}}
        <br>
        <div class="itemContent">
            {{:helper.link("Select Destination location", null, {'select_dest':'a'}, null, null)}}
        </div>
    </div>
</div>

<div class="item" style="padding-top: 10px">
    <div class="item"> 
        <div class="itemContent" style="border 1px solid red">
            {{:helper.link("TELEPORT", null, {'teleport':'a'}, null, null)}}
        </div>
    </div>
</div>



