.inactive {
    color: #666666;
}

.uiWrapper {
	width: 100%;
	height: 100%;
	padding-top:32px;
}

.uiTitle {
	clear: both;
	padding: 6px 8px 6px 8px;
	border-bottom: 2px solid #161616;
	background: lightslategray;
	color: black;
	font-size: 16px;
}

.uiTitleWrapper {
 	position:fixed;
 	top:0px;
 	left:0px;
 	right:0px;
 	z-index: 10
 }
 
.uiTitleButtons {
	position:fixed;
	top:0px;
	right:0px;
	height:32px;
	z-index:11;
}

.uiTitle.icon {
	padding: 6px 8px 6px 42px;
	background-position: 2px 50%;
	background-repeat: no-repeat;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 16px 0 8px 0;
}

h1 {
	font-size: 130%;
}

h2 {
	font-size: 115%;
}

h3 {
	font-size: 110%;
}

a.green {
	color: green;
}

a.red {
	color: red;
}

a.blue {
	color: blue;
}

a.orange {
	color: 	orange;
}

a.purple {
	color: 	purple;
}

.red_text {
	color: red;
}

.blue_text {
	color: blue;
}

.green_text {
	color: green;
}

.orange_text {
	color: orange;
}

.cyan_text {
	color: cyan;
}

.pink_text {
	color: pink;
}

.white_text {
	color: white;
}

.purple_text {
	color: purple;
}

.header_text {
	color: black;
}

.good_text {
	color: blue;
}

.bad_text {
	color: red;
}

.okay_text {
	color: black;
}

/* Job pref colors*/
.job_honor_guard_sl {
	background-color: #ffaaaa;
}

.job_bunker_crew {
	background-color: #BAAFD9;
}

.job_cmo {
	background-color: #99FF99;
}

.job_doctor {
	background-color: #BBFFBB;
}

.job_researcher {
	background-color: #BBFFBB;
}

.job_cl {
	background-color: #ffeedd;
}

.job_synth {
	background-color: #aaee55;
}

.job_command {
	background-color: #ddddff;
}

.job_co {
	background-color: #ccccff;
}

.job_mp {
	background-color: #ffdddd;
}

.job_cmp {
	background-color: #ffaaaa;
}

.job_ce {
	background-color: #ffeeaa;
}

.job_ro {
	background-color: #9990B2;
}

.job_mt {
	background-color: #fff5cc;
}

.job_ot {
	background-color: #BAAFD9;
}

.job_marine {
	background-color: #ffeeee;
}

.job_xeno {
	background-color: #a268b1;
}

.job_xeno_queen {
	background-color: #744580;
}

.job_predator {
	background-color: #b9b9b9;
}

.job_special {
	background-color: #663e2b;
}