@use 'sass:meta';

$light: #cccccc;
$dark: #666666;

@use '../../base.scss' with (
  $color-bg: $dark,
  $color-fg: $light
);

@use '../crt.scss';

.theme-crtwhite {
  @extend %theme-crt;

  @keyframes whiteConfirmFlicker {
    0% {
      background-color: $light;
      color: $dark;
    }
    50% {
      background-color: $dark;
      color: $light;
    }
    100% {
      background-color: $light;
      color: $dark;
    }
  }

  .Button.ConfirmButton {
    animation: whiteConfirmFlicker 5s infinite;
    &:hover {
      animation: none;
    }
  }
}
