@use 'sass:meta';

@use '../../base.scss' with (
  $color-bg: #001100,
  $color-fg: #00e94e
);

@use '../crt.scss' with (
  $font-family: chakrapetch-bold
);

.theme-crtlobby {
  @extend %theme-crt;
}
