@use 'sass:meta';

@use '../../base.scss' with (
  $color-bg: hsl(240, 100%, 3%),
  $color-fg: hsl(0, 67%, 51%)
);

@use '../crt.scss' with (
  $font-family: chakrapetch-bold
);

.theme-crtlobbyred {
  @extend %theme-crt;
}
