@use 'sass:meta';

@use '../../base.scss' with (
  $color-bg: hsl(120, 100%, 3%),
  $color-fg: hsl(140, 100%, 46%)
);

@use '../crt.scss' with (
  $font-family: chakrapetch-bold
);

.theme-crtlobby {
  @extend %theme-crt;
}
