@use 'sass:meta';

$light: #00ff55;
$dark: #001100;

@use '../crt.scss' with (
  $lightcolor: $light,
  $darkcolor: $dark,
  $name: "green",
);

.theme-crtgreen {
  @extend %theme-crt;

  @keyframes greenConfirmFlicker {
    0% {
      background-color: $light;
      color: $dark;
    }
    50% {
      background-color: $dark;
      color: $light;
    }
    100% {
      background-color: $light;
      color: $dark;
    }
  }

  .Button.ConfirmButton {
    animation: greenConfirmFlicker 5s infinite;
    &:hover {
      animation:none;
    }
  }
}
