@use 'sass:meta';

$light: hsl(45, 100%, 50%);
$dark: hsl(60, 100%, 3%);

@use '../../base.scss' with (
  $color-bg: $dark,
  $color-fg: $light
);

@use '../crt.scss';

.theme-crtyellow {
  @extend %theme-crt;

  @keyframes yellowConfirmFlicker {
    0% {
      background-color: $light;
      color: $dark;
    }
    50% {
      background-color: $dark;
      color: $light;
    }
    100% {
      background-color: $light;
      color: $dark;
    }
  }

  .Button.ConfirmButton {
    animation: yellowConfirmFlicker 5s infinite;
    &:hover {
      animation: none;
    }
  }
}
