@use 'sass:meta';

$light: hsl(208, 100%, 77%);
$dark: hsl(240, 100%, 3%);

@use '../../base.scss' with (
  $color-bg: $dark,
  $color-fg: $light
);

@use '../crt.scss' with (
  $scrollbar-color-multiplier: 1
);

.theme-crtblue {
  @extend %theme-crt;

  @keyframes blueConfirmFlicker {
    0% {
      background-color: $light;
      color: $dark;
    }
    50% {
      background-color: $dark;
      color: $light;
    }
    100% {
      background-color: $light;
      color: $dark;
    }
  }

  .Button.ConfirmButton {
    animation: blueConfirmFlicker 5s infinite;
    &:hover {
      animation: none;
    }
  }
}
