@use 'sass:meta';

$light: #ac840c;
$dark: #111100c2;

@use '../../base.scss' with (
  $color-bg: $dark,
  $color-fg: $light
);

@use '../crt.scss';

.theme-crtbrown {
  @extend %theme-crt;

  @keyframes brownConfirmFlicker {
    0% {
      background-color: $light;
      color: $dark;
    }
    50% {
      background-color: $dark;
      color: $light;
    }
    100% {
      background-color: $light;
      color: $dark;
    }
  }

  .Button.ConfirmButton {
    animation: brownConfirmFlicker 5s infinite;
    &:hover {
      animation: none;
    }
  }
}
