@use 'sass:color';
@use 'sass:meta';

@use '../colors.scss' with (
  $primary: hsl(0, 0%, 0%),
  $fg-map-keys: (),
  $bg-map-keys: ()
);
@use '../base.scss' with (
  $color-bg: hsl(48, 38%, 84%),
  $color-bg-grad-spread: 0%,
  $border-radius: 0
);

// A fat warning to anyone who wants to use this: this only half works.
// It was made almost purely for the nuke ui, and requires a good amount of manual hacks to get it working as intended.
.theme-cm_neo_hud {
  // Atomic classes
  @include meta.load-css('../atomic/color.scss');

  // Components
  @include meta.load-css(
    '~tgui/styles/components/Button',
    $with: (
      'color-default': colors.$primary,
      'color-disabled': hsl(0, 0%, 21%),
      'color-selected': hsl(227, 37%, 44%),
      'color-caution': hsl(30, 91%, 39%),
      'color-danger': hsl(61, 100%, 31%)
    )
  );
  @include meta.load-css(
    '~tgui/styles/components/Input',
    $with: ('border-color': hsl(226, 26%, 34%))
  );
  @include meta.load-css(
    '~tgui/styles/components/NoticeBox',
    $with: ('background-color': hsl(275, 86%, 36%))
  );
  @include meta.load-css(
    '~tgui/styles/components/NumberInput',
    $with: ('border-color': hsl(226, 26%, 34%))
  );
  @include meta.load-css(
    '~tgui/styles/components/ProgressBar',
    $with: ('background-color': hsla(0, 0%, 0%, 0.5))
  );
  @include meta.load-css('~tgui/styles/components/Section');
  @include meta.load-css(
    '~tgui/styles/components/Tooltip',
    $with: ('background-color': (hsl(223, 82%, 4%)))
  );

  // Layouts
  @include meta.load-css('../layouts/Layout.scss');
  @include meta.load-css('../layouts/Window.scss');
  @include meta.load-css(
    '../layouts/TitleBar.scss',
    $with: ('background-color': (hsl(223, 82%, 4%)))
  );

  .Layout__content {
    background-image: none;
  }
}

