@use 'sass:color';
@use 'sass:math';
@use 'sass:meta';

$font-family: monospace !default;
$background-radial-opacity: 0.2 !default;
$scrollbar-color-multiplier: 0.5 !default;

@use '../base.scss';

@use '../colors.scss' with (
  $primary: base.$color-fg,
  $label: base.$color-fg
);

%theme-crt {
  @include meta.load-css(
    '~tgui/styles/components/Divider',
    $with: ('color': base.$color-fg)
  );
  @include meta.load-css('~tgui/styles/components/Stack');

  @include meta.load-css(
    '~tgui/styles/components/Slider',
    $with: (
      'cursor-color': color.adjust(base.$color-fg, $lightness: -0.2%),
      'popup-background-color': base.$color-bg,
      'popup-text-color': base.$color-fg
    )
  );

  @include meta.load-css(
    '../components/Input.scss',
    // Replace this when tgui core has font family fixed as !default
    $with: (
        'text-color': base.$color-fg,
        'background-color': base.$color-bg,
        'border-color': base.$color-fg,
        'font-family': $font-family
      )
  );

  @include meta.load-css(
    '~tgui/styles/components/NumberInput',
    $with: (
      'text-color': base.$color-fg,
      'background-color': base.$color-bg,
      'border-color': base.$color-fg
    )
  );

  @include meta.load-css(
    '~tgui/styles/components/Knob',
    $with: (
      'ring-color': base.$color-fg,
      'knob-color': base.$color-bg,
      'popup-background-color': base.$color-bg,
      'popup-text-color': base.$color-fg
    )
  );

  @include meta.load-css(
    '~tgui/styles/components/ProgressBar',
    $with: ('color-default-fill': base.$color-fg)
  );

  @include meta.load-css(
    '~tgui/styles/components/BlockQuote',
    $with: ('color-default': base.$color-fg)
  );

  @include meta.load-css('../layouts/Window.scss');
  @include meta.load-css(
    '../layouts/TitleBar.scss',
    $with: ('background-color': base.$color-bg, 'text-color': base.$color-fg)
  );
  @include meta.load-css(
    '../layouts/Layout.scss',
    $with: ('scrollbar-color-multiplier': $scrollbar-color-multiplier)
  );
  @include meta.load-css(
    '~tgui/styles/components/Section',
    $with: ('title-text-color': base.$color-fg)
  );
  @include meta.load-css(
    '~tgui/styles/components/Button',
    $with: (
      'color-default': base.$color-fg,
      'color-disabled': color.adjust(base.$color-fg, $lightness: -30%),
      'color-selected': color.adjust(base.$color-fg, $lightness: 10%)
    )
  );

  @include meta.load-css(
    '~tgui/styles/components/Tabs',
    $with: (
      'tab-color': base.$color-bg,
      'tab-color-selected': base.$color-fg,
      'text-color': base.$color-fg,
      'text-color-selected': base.$color-bg,
      'tab-color-hovered': rgba(base.$color-fg, 0.3)
    )
  );

  @include meta.load-css(
    '~tgui/styles/components/Modal',
    $with: ('background-color': base.$color-bg)
  );

  .Layout__content {
    background-image: none;
    background: radial-gradient(
      rgba(colors.$primary, $background-radial-opacity),
      rgba(colors.$primary, math.div($background-radial-opacity, 5))
    );
  }

  .Layout__content::after {
    content: ' ';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: hsla(0, 6%, 7%, 0.1);
    opacity: 0;
    z-index: 2;
    pointer-events: none;
  }
  .Layout__content::before {
    content: ' ';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background:
      linear-gradient(hsla(0, 6%, 7%, 0) 50%, hsla(0, 0%, 0%, 0.25) 50%),
      linear-gradient(
        90deg,
        hsla(0, 100%, 50%, 0.06),
        hsla(120, 100%, 50%, 0.02),
        hsla(240, 100%, 50%, 0.06)
      );
    z-index: 2;
    background-size:
      100% 2px,
      3px 100%;
    pointer-events: none;
  }

  .Layout__content--scrollable {
    scrollbar-track-color: base.$color-bg;
    scrollbar-shadow-color: base.$color-fg;
    scrollbar-face-color: base.$color-bg;
    scrollbar-arrow-color: base.$color-fg;
    scrollbar-gutter: base.$color-fg;
  }

  span {
    color: base.$color-fg;
    font-family: $font-family;
    font-weight: bold;
  }

  .Button {
    font-family: $font-family;
    font-weight: bold;
    border: 1px solid base.$color-fg;
  }

  .NumberInput {
    min-height: 23px;
  }

  .Button:not(.Button--selected) {
    &:hover,
    &:visited,
    &:target {
      background-color: transparent;
      color: base.$color-fg;
    }
  }

  .Button--disabled {
    background-color: none;
    color: base.$color-fg;

    &:hover,
    &:focus,
    &:visited,
    &:target {
      color: base.$color-fg;
    }
  }

  .Dropdown__control {
    &:hover,
    &:focus,
    &:visited,
    &:target {
      .Dropdown__selected-text,
      .Dropdown__arrow-button {
        color: base.$color-bg;
      }
    }
  }

  .Dropdown__control.Button--disabled {
    &:hover,
    &:focus,
    &:visited,
    &:target {
      .Dropdown__selected-text,
      .Dropdown__arrow-button {
        color: base.$color-fg;
      }
    }
  }

  .Dropdown__control {
    & > .Dropdown__selected-text,
    & > .Dropdown__arrow-button {
      color: hsla(0, 0%, 0%, 1);
    }
  }

  hr {
    color: base.$color-fg;
    border: 1px solid base.$color-fg;
  }

  .Tab__text {
    font-family: $font-family;
  }

  .Tabs--horizontal {
    .Tab {
      border: 2px solid base.$color-fg;
      border-bottom: 6px solid base.$color-fg;
      text-align: center;
      background-color: hsla(0, 0%, 0%, 0);
      font-weight: bold;
    }

    .Tab--selected {
      border: 2px solid base.$color-fg;
      border-bottom: none;
      background-color: base.$color-fg;
      .Tab__left,
      .Tab__text {
        color: base.$color-bg;
      }
      &:hover {
        outline: none;
      }
    }
  }

  .Table {
    border: 1px solid base.$color-fg;
  }

  .Section {
    border: 2px solid base.$color-fg;
  }

  td {
    border: 1px solid base.$color-fg;
    margin-top: 1px;
    margin-bottom: 1px;
    justify-content: center;
  }
}

@keyframes flicker {
  0% {
    opacity: 0.27861;
  }
  5% {
    opacity: 0.34769;
  }
  10% {
    opacity: 0.23604;
  }
  15% {
    opacity: 0.90626;
  }
  20% {
    opacity: 0.18128;
  }
  25% {
    opacity: 0.83891;
  }
  30% {
    opacity: 0.65583;
  }
  35% {
    opacity: 0.67807;
  }
  40% {
    opacity: 0.26559;
  }
  45% {
    opacity: 0.84693;
  }
  50% {
    opacity: 0.96019;
  }
  55% {
    opacity: 0.08594;
  }
  60% {
    opacity: 0.20313;
  }
  65% {
    opacity: 0.71988;
  }
  70% {
    opacity: 0.53455;
  }
  75% {
    opacity: 0.37288;
  }
  80% {
    opacity: 0.71428;
  }
  85% {
    opacity: 0.70419;
  }
  90% {
    opacity: 0.7003;
  }
  95% {
    opacity: 0.36108;
  }
  100% {
    opacity: 0.24387;
  }
}
