@use 'sass:color';
@use "sass:math";
@use 'sass:meta';

$darkcolor: #110000 !default;
$lightcolor: #FFBF00 !default;
$font-family: monospace;
$background-radial-opacity: 0.2 !default;

@use '../base.scss' with (
  $color-bg: $darkcolor,
  $color-bg-grad-spread: 0%,
  $border-radius: 0,
);

@use '../colors.scss' with (
  $primary: $lightcolor,
  $fg-map-keys: (),
  $bg-map-keys: (),
);

$small-text: 2vw;
$large-text: 3vw;

$flicker-color-start:lighten($lightcolor, 0.2);
$flicker-color-end:darken($lightcolor, 0.2);
.theme-crt {
  @include meta.load-css('../layouts/Window.scss');
  @include meta.load-css('../layouts/TitleBar.scss', $with: (
    'background-color': $darkcolor,
    'text-color': $lightcolor
  ));
  @include meta.load-css('../layouts/Layout.scss', $with: (
    'scrollbar-color-multiplier': 0.5
  ));
  @include meta.load-css('../components/Section.scss', $with: (
    'title-text-color': $lightcolor
  ));
  @include meta.load-css('../components/Button.scss', $with: (
    'color-disabled': darken($lightcolor, 30)
  ));

  @include meta.load-css('../components/Tabs.scss', $with: (
    'tab-color': $darkcolor,
    'tab-color-selected': $darkcolor
  ));

  .Layout__content {
    background-image: none;
    background: radial-gradient(
      rgba($lightcolor, $background-radial-opacity),
      rgba($lightcolor, math.div($background-radial-opacity, 5)));
  }

  .Layout__content::after {
    content: " ";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(18, 16, 16, 0.1);
    opacity: 0;
    z-index: 2;
    pointer-events: none;
    animation: flicker 0.15s infinite;
    animation-name: flicker;
    animation-duration: 1s;
  }
  .Layout__content::before {
    content: " ";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%), linear-gradient(90deg, rgba(255, 0, 0, 0.06), rgba(0, 255, 0, 0.02), rgba(0, 0, 255, 0.06));
    z-index: 2;
    background-size: 100% 2px, 3px 100%;
    pointer-events: none;
  }

  .Layout__content--scrollable {
    scrollbar-track-color: $darkcolor;
    scrollbar-shadow-color: $lightcolor;
    scrollbar-face-color: $darkcolor;
    scrollbar-arrow-color: $lightcolor;
    scrollbar-gutter: $lightcolor;
  }

  span {
    color: $lightcolor;
    font-family: $font-family;
    font-size: $small-text;
    font-weight: bold;
  }

  .Button {
    background-color: $lightcolor;
    color: $darkcolor;
    font-family: $font-family;
    font-size: $small-text;
    font-weight: bold;
    border: 1px solid $lightcolor;
    &:hover,
    &:focus,
    &:visited,
    &:target {
      background-color: $lightcolor;
      color: $darkcolor;
    }
  }

  .Button--disabled {
    background-color: none;
    color: $lightcolor;
  }

  .Button.ConfirmButton {
    animation: confirmFlicker 5s infinite;
    &:hover {
      animation:none;
    }
  }

  hr {
    color: $lightcolor;
    border: 1px solid $lightcolor;
  }

  .Tab__text {
    font-size: $large-text;
    font-family: $font-family;
    color: $lightcolor;
  }

  .Tab__left {
    color: $lightcolor;
    font-size: $large-text;
  }

  .Tabs--horizontal {
    .Tab {
      border: 2px solid $lightcolor;
      border-bottom: 6px solid $lightcolor;
      text-align: center;
      background-color: rgba(0, 0, 0, 0);
      font-weight: bold;
    }

    .Tab--selected {
      border: 2px solid $lightcolor;
      border-bottom: none;
      background-color: $lightcolor;
      .Tab__left,
      .Tab__text {
        color: $darkcolor;
      }
      &:hover {
        outline: none;
      }
    }
  }

  .Table {
    border: 1px solid $lightcolor;
    width: 100%;
  }

  .Section {
    border: 2px solid $lightcolor;
  }

  td {
    border: 1px solid $lightcolor;
    margin-top: 1px;
    margin-bottom: 1px;
    justify-content: center;
  }

  @keyframes confirmFlicker {
    0% {
      background-color: $lightcolor;
      color: $darkcolor;
    }
    50% {
      background-color: $darkcolor;
      color: $lightcolor;
    }
    100% {
      background-color: $lightcolor;
      color: $darkcolor;
    }
  }

  @keyframes textShadow {
    0% {
      text-shadow: 0.4389924193300864px 0 1px $flicker-color-start, -0.4389924193300864px 0 1px $flicker-color-end, 0 0 3px;
    }
    5% {
      text-shadow: 0.7928974010788217px 0 1px $flicker-color-start, -0.7928974010788217px 0 1px $flicker-color-end, 0 0 3px;
    }
    10% {
      text-shadow: 0.02956275843481219px 0 1px $lightcolor, -0.02956275843481219px 0 1px $lightcolor, 0 0 3px;
    }
    20% {
      text-shadow: none
    }
    100% {
      text-shadow: none
    }
  }
}

@keyframes flicker {
  0% {
    opacity: 0.27861;
  }
  5% {
    opacity: 0.34769;
  }
  10% {
    opacity: 0.23604;
  }
  15% {
    opacity: 0.90626;
  }
  20% {
    opacity: 0.18128;
  }
  25% {
    opacity: 0.83891;
  }
  30% {
    opacity: 0.65583;
  }
  35% {
    opacity: 0.67807;
  }
  40% {
    opacity: 0.26559;
  }
  45% {
    opacity: 0.84693;
  }
  50% {
    opacity: 0.96019;
  }
  55% {
    opacity: 0.08594;
  }
  60% {
    opacity: 0.20313;
  }
  65% {
    opacity: 0.71988;
  }
  70% {
    opacity: 0.53455;
  }
  75% {
    opacity: 0.37288;
  }
  80% {
    opacity: 0.71428;
  }
  85% {
    opacity: 0.70419;
  }
  90% {
    opacity: 0.7003;
  }
  95% {
    opacity: 0.36108;
  }
  100% {
    opacity: 0.24387;
  }
}


