@use 'sass:meta';
@use '../base.scss';
@use '../colors.scss' with (
  $primary: #52375c
);

.theme-hive_status {
  // Components
  @include meta.load-css('~tgui/styles/components/BlockQuote');
  @include meta.load-css(
    '~tgui/styles/components/Button',
    $with: ('color-selected': #52375c)
  );
  @include meta.load-css('~tgui/styles/components/Table');

  // Layouts
  @include meta.load-css('../layouts/Layout.scss');
  @include meta.load-css('../layouts/TitleBar.scss');

  hr {
    color: #52375c;
  }

  .Layout__content {
    background-color: #1b1e25;
    background-image: url('../../assets/bg-xeno.png');
    background-position: top;
    background-size: contain;
    background-repeat: repeat no-repeat;
  }

  .TitleBar {
    background-image: url('../../assets/titlebar-xeno.png');
    background-position: right 40px top 50%;
    background-repeat: no-repeat;
  }

  .Table__cell {
    padding: 10px 10px 10px 10px;
    border-bottom: 1px solid #252933;
  }

  .Table__row--header .Table__cell,
  .Table__cell--header {
    text-align: center;
  }

  .xenoCountTable {
    text-align: center;
    border-collapse: collapse;
    table-layout: fixed;
  }

  .xenoCountRow {
    background-color: #52375c;
  }

  .xenoCountCell {
    padding: 5px 5px 5px 5px;
    border-bottom: 1px solid #fff;
    text-align: center;
  }

  .xenoListRow {
    text-align: left;
  }

  .underlineCell {
    border-bottom: 1px solid #fff;
  }

  .ssdRow {
    background-color: #1d2128;
    font-style: italic;
  }

  .whiteTitle {
    color: white;
  }

  .noPadCell {
    padding: 2px;
  }

  .actionButton .Flex--iefix,
  .actionButton .Flex__item {
    margin: 2px;
  }

  h3 {
    margin: 0;
    padding: 0;
  }

  h1 {
    margin: 0;
    padding: 0;
  }

  .leaderIcon {
    width: 16px;
    height: 16px;
    background-image: url('../../assets/xenoLeaderBg.png');
  }

  .ssdIcon {
    width: 16px;
    height: 16px;
    background-image: url('../../assets/xenoSSDIcon.png');
  }

  .xeno_list {
    border-collapse: collapse;
    width: 100%;
    table-layout: fixed;
  }

  .xeno_list .Table__row {
    height: 40px;
  }

  .xeno_list .Table__row .Table__cell {
    vertical-align: middle;
  }
}
