@use 'sass:color';
@use 'sass:meta';

@use '../colors.scss' with (
  $primary: hsl(0, 0%, 0%),
  $fg-map-keys: (),
  $bg-map-keys: ()
);
@use '../base.scss' with (
  $color-bg: hsl(233, 43%, 8%),
  $color-bg-grad-spread: 0%,
  $border-radius: 0
);

// USMC Theme
.theme-usmc {
  .Layout__content {
    background-image: linear-gradient(hsl(233, 43%, 8%), hsl(0, 0%, 0%));
    background-position: top;
    background-size: contain;
    background-repeat: no-repeat;
  }

  .TitleBar {
    background-image: url('../../assets/titlebar-uscm.png');
    background-position: right 40px top 50%;
    background-repeat: no-repeat;
  }
  .Vendor {
    .VendingFlexAlt {
      background-color: rgba(hsl(233, 43%, 8%), 1);
    }
  }
}
