@use 'sass:color';
@use 'sass:meta';

$weyland: #af7f38;

@use '../colors.scss' with (
  $primary: #000000,
  $fg-map-keys: (),
  $bg-map-keys: (),
);
@use '../base.scss' with (
  $color-bg: #252832,
  $color-bg-grad-spread: 0%,
  $border-radius: 0,
);

@mixin filter($filter-type,$filter-amount) {
  -webkit-filter: $filter-type+unquote('(#{$filter-amount})');
  -moz-filter: $filter-type+unquote('(#{$filter-amount})');
  -ms-filter: $filter-type+unquote('(#{$filter-amount})');
  -o-filter: $filter-type+unquote('(#{$filter-amount})');
  filter: $filter-type+unquote('(#{$filter-amount})');
}


// USMC Theme
.theme-usmc{
  .Layout__content {
    background-color: #252832;
    background-image: url('../../assets/bg-usmc2.png');
    background-position: top;
    background-size: contain;
    background-repeat: no-repeat;
  }


}

